{% include 'header.twig' with {
  title:'Archived Tasks'
} %}
<body>
  <main id="task-list" class="shell shell-task-list">
    <div class="balanced">
      <form action="{{ endpoints.UPDATE_TASKS|default('/') }}" method="post" id="todo" action="#" method="post" class="box">
        <input type="hidden" name="unarchiveselected" value="1">
        <div>
          <header class="add-item">
            <h1 id="task-list"><a href="/" class="subtle">Archived Tasks</a></h1>
          </header>
          <hr>

          <p>
            {% if tasks|length > 0 %}
            The following completed {% if tasks|length > 1 %}tasks have{% else %}task has{% endif %} been archived.
            {% if viewAllArchivedTasks %}
            <br>
            <a href="{{ endpoints.ARCHIVED_TASKS }}" class="btn">Load all archived&nbsp;tasks</a>.
            {% endif %}
          </p>

          <p class="accessibly-hidden">
            Check tasks below to unarchive or delete&nbsp;them.
          </p>

          <ol class="naked">
            {% for task in tasks %}
            <li>
              <label for="item_{{ task.id }}">
                <input id="item_{{ task.id }}" name="item_{{ task.id }}" type="checkbox" checked>&nbsp;{{ task.title }}
              </label>
            </li>
            {% endfor %}
          </ol>
          <footer>
            <div>
              {% if showReset|default(true) %}
              <button type="reset">{{ reset|default('Reset') }}</button>
              {% endif %}
            </div>
            <div class="task-bar">
              <button type="submit">Unarchive Selected Tasks</button>
            </div>
            <div class="task-bar">
              <button type="submit" formaction="{{ endpoints.DELETE_TASKS|default('/delete/completed/tasks/') }}">Delete Selected Tasks</button>
            </div>
            {% else %}
            <p>
              There are no archived tasks.
            </p>
            {% endif %}
            <div class="balanced task-bar">
              <a href="/" class="btn">Return to Task Manager.</a>
            </div>
          </footer>
        </div>
      </form>
    </div>
  </main>
</body>
</html>
